#  Machine Learning  HW-1 B

# 1.Assign any values to two variables x and y, perform any 5 arithmetic operations on said
variables and print the result.

In [1]:
x = 78
y = 13

# Addition

In [2]:
print(x+y)

91

# Division

In [3]:
z = x/y

In [4]:
print(z)

6.0

In [5]:
print (x/y)

6.0

#To the power of

In [6]:
print(x**y)

3955759092264800909058048

# Mod

In [7]:
print (x%y)

0

# 2.Create a list with days of the week (starting from Monday) and perform the following
   operations.
a. Display only the middle three days.
b. Remove the first and last days from the list.
c. Display alternate days from the list (starting from Index 0).
d. pop() and sort() the list and display the output.

# List Creation

In [107]:
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [39]:
print(Days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#a.Display only the middle three days.

In [36]:
print(Days[2:5])

['Wednesday', 'Thursday', 'Friday']

# b.Remove the first and last days from the list.

In [40]:
del(Days[0])

In [41]:
print(Days)

['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [42]:
del(Days[5])

In [43]:
print(Days)

['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

# c.Display alternate days from the list (starting from Index 0).

In [44]:
print(Days[::2])

['Tuesday', 'Thursday', 'Saturday']

 d.pop() and sort() the list and display the output.

In [45]:
Days.pop(1)

'Wednesday'

In [46]:
print(Days)

['Tuesday', 'Thursday', 'Friday', 'Saturday']

In [47]:
Days.sort()

In [48]:
print(Days)

['Friday', 'Saturday', 'Thursday', 'Tuesday']

3. Create a new list of your choice with as many items as the list from Q2. And perform the
following operations.
a. Zip() both the lists into a dictionary.
b. Print the dictionary.
c. Clear() the dictionary.

List Creation

In [58]:
city = ['Charlotte','Seattle','Atlantan','Chicago','Richmond','Boston','Phoneix']

In [59]:
print(city)

['Charlotte', 'Seattle', 'Atlantan', 'Chicago', 'Richmond', 'Boston', 'Phoneix']

In [60]:
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [61]:
print(Days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

a. Zip() both the lists into a dictionary.

In [62]:
city_days = zip(city,Days)

In [63]:
calender = dict(city_days)

b. Print the dictionary

In [64]:
print(calender)

{'Charlotte': 'Monday', 'Seattle': 'Tuesday', 'Atlantan': 'Wednesday', 'Chicago': 'Thursday', 'Richmond': 'Friday', 'Boston': 'Saturday', 'Phoneix': 'Sunday'}

c. Clear() the dictionary

In [65]:
calender.clear()

In [66]:
print(calender)

{}

4. Create a python loop to print the following-
*
**
***
****
*****

In [84]:
for i in range(5):
    for i in range(0,i+1):
        print("*",end ="")
    print()

*
**
***
****
*****

5. Create a nested if-else with your own conditions.

In [106]:
john_age=32
sam_age=26
smith_age=65

if john_age > sam_age:
    print("John is elder than Sam by",john_age-sam_age)
    
    if john_age > smith_age:
        print("John is elder than Smith by",john_age-smith_age)
        
    else:
        print("Smith is elder than John by",smith_age-john_age)
        
        if sam_age > smith_age:
            print("Sam is elder than Smith by",sam_age-smith_age)
            
        else:
                print("Smith is elder than Sam by",smith_age-sam_age)
                
else:  
    print("Sam is elder than John by",sam_age-john_age)
    
    if sam_age > smith_age:
        print("Sam is elder than Smith by",sam_age-smith_age)
        
    else:
        print("Smith is elder than Sam by",smith_age-sam_age)
        
        if smith_age > john_age:
            print("Smith is elder than John by",smith_age-john_age)
            
        else:
                print("John is elder than Smith by",john_age-smith_age)

John is elder than Sam by 6
Smith is elder than John by 33
Smith is elder than Sam by 39


This if else loop craeted to compare ages for 3 persons with each other.